
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">O Firmie</h1>
        <p class="lead">Znalezienie wymarzonego mieszkania stało się znacznie łatwiejsze.</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Strona domowa</a>
        </li>
        <li class="breadcrumb-item active">O Firmie</li>
      </ol>
    </nav>
  </div>
</section>

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Szukamy dla Ciebie wymarzonego domu</h2>
        <p class="lead"> Zaufaj naszym doradcom i sprawdź nasze aktualne oferty  </p>
        <img src="{% static 'img/about.jpg' %}" alt="">
        <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
          neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
          commodi id libero eveniet harum perferendis laborum molestias quia.</p>
      </div>
      <div class="col-md-4">
        {% if sprzedawca_miesiaca %}
          {% for agent in sprzedawca_miesiaca %}
          <div class="card">
            <img class="card-img-top" src="{{ agent.zdjecie.url }}" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Sprzedawca miesiąca</h5>
              <h6 class="text-secondary">{{agent.nazwa}}</h6>
              <p class="card-text">{{agent.opis}}</p>
            </div>
          {% endfor %}
        {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

<!-- Prace/oferty -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">Pracujemy dla Ciebie</h2>
  <br>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
  <hr>
  <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">Sprawdź nasze aktualne oferty.</a>
</section>

<!-- Zespol -->
<section id="team" class="py-5">
  <div class="container">
    <h2 class="text-center">Nasz Zespół</h2>
    <br>
    <div class="row text-center">
       {% if agenci %}
         {% for agent in agenci %}
          <div class="col-md-4">
           <img src="{{ agent.zdjecie.url }}" alt="" class="rounded-circle mb-3">
           <h4>{{ agent.nazwa }}</h4>
           <p class="text-success">
             <i class="fas fa-award text-success mb-3"></i> Agent nieruchomości </p>
           <hr>
           <p>
             <i class="fas fa-phone"></i> {{ agent.telefon }}</p>
           <p>
             <i class="fas fa-envelope-open"></i> {{ agent.email }}</p>
         </div>
         {% endfor %}
       {% else %}
           <div class="col-md-12">
             <p> No Realtors Available</p>
           </div>
       {% endif %}

    </div>
  </div>
</section>
{% endblock %}
