{% extends 'base.html' %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Kącik użytkownika</h1>
          <p class="lead">Zarządzaj swoim kontem na KC estate</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Strona domowa</a>
          </li>
          <li class="breadcrumb-item active">Jesteś tutaj</li>
        </ol>
      </nav>
    </div>
  </section>

  {% include 'partials/_alerts.html' %}

  <section id="dashboard" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Witaj serdecznie {{user.username}}</h2>
          <br>
          {% if zapytania %}
              <p>Tu znajduje się lista ofert, dla których wysłałeś zapytanie</p>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nieruchomość</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for zapytanie in zapytania %}
                    <tr>
                      <td>{{ zapytanie.id }}</td>
                      <td>{{ zapytanie.oferta }}</td>
                      <td>
                        <a class="btn btn-light" href="{% url 'listing' zapytanie.oferta_id %}">Zobacz ofertę</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          {% else %}
              <p> Nie wysłałeś żadnego zapytania </p>
          {% endif %}  
        </div>
      </div>
    </div>
  </section>
{% endblock %}
